* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*top*/
.top_section {
    width: 100%;
    margin-bottom: 122px;
}
.top_section_slider {
    width: 100%;
}

.top_swiper {
    width: 100%;
    height: 602px;
}

.top_swiper .swiper-slide {
    height: 100%;
}

.top_section_header {
    width: 100%;
    height: 54px;
    background-color: #0e0d2b;
    padding: 18px 0;
}

.top_section_header div 
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1311px;
    margin: 0 auto;
    gap: 8px;

}
.top_section_header_text {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}
.top_content_image {
    width: 100%;
    height: 602px;
    position: relative;

}
.top_content_image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.top_content_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top_content_image_text_container {
    width: 100%;
    max-width: 1320px;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}
.top_content_image_text {
    max-width: 520px;
    width: 100%;
    position: relative;
}
.top_content_image_text_icon1 {
    width: 63px;
    height: 50px;
}
.top_content_image_text_icon1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top_content_image_text_icon2 {
    width: 63px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    transform: rotate(180deg);
}
.top_content_image_text_icon2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top_content_image_text_title {
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    line-height: 72px;
    font-weight: 700;
    color: #FFFFFF;
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
}

.top_content_image_text_subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 16px;
}

.top_swiper .swiper-pagination-bullets {
    bottom: 32px;
}

.top_swiper .swiper-pagination-bullet {
    width: 26px;
    height: 3px;
    border-radius: 999px;
    background-color: #FFFFFF;
}

.top_swiper .swiper-pagination-bullet-active {
    background-color: #6124E1;
}


/*about_section*/

.about_section {
    width: 100%;
    margin-bottom: 122px;
}
.about_section_content {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
   
}

.about_section_title {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #6124E1;
    margin-bottom: 24px;
    text-align: center;
}

.about_section_description {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #212529;
    line-height: 22px;
    text-align: center;

}
.about_section_description:first-of-type {
    max-width: 593px;
    width: 100%;
    margin: 0 auto;
}
/*products_section*/

.products_section {
    width: 100%;
    background-color: #0e0d2b;
    padding: 59px 35px;
    margin-bottom: 70px;
}
.products_section_content {
    width: 100%;
}
.products_section_title 
{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 41px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.products_section_stats {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0px 106px;
}

.products_section_stat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 34px;
    min-height: 217px;
}
.products_section_stat_content {
    display: flex;
    align-items: flex-end;
    gap: 17px;
}
.products_section_stat_value {
    font-family: 'Inter', sans-serif;
    font-size: 41px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 78px;
}

.products_section_stat_label {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
}
.products_section_stat_description {
    font-family: 'Inter', sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 22.5px;
}



/*about_section2*/

.about_section2 {
    width: 100%;
    margin-bottom: 70px;
}

.about_section2_content {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}

.about_section2_title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #6124E1;
    margin-bottom: 14px;
}
.about_section2_title2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #212529;
    margin-bottom: 24px;
}

.about_section2_description {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #212529;
    line-height: 24px;
}

/* services_section */

.services_section {
    width: 100%;
    background-color: #F7F7F7;
    padding: 115px 200px 120px 200px;
    position: relative;
}

.services_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-top: 26px solid #FFFFFF; /* color of the section above (page background) */
    z-index: 1;
}

.services_section_content {
    width: 100%;
    margin: 0 auto;
}

.services_section_stats {
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.services_section_stat {
    flex: 1;
    max-width: 436px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;
    min-height: 360px;
}

.services_section_stat_image {
    width: 154px;
    height: 137px;
    margin: 0 auto;
}
.services_section_stat img {
    width: 100%;
   height: 100%;
   object-fit: cover;
}



.services_section_divider {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
}
.services_section_stat_title {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #21212A;
    line-height: 42px;
    text-align: center;
}

.services_section_stat_description {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #21212A;
    line-height: 22px;
    text-align: center;
}
/*contacts_section*/

.contacts_section {
    width: 100%;
     background: #0e0d2b;
}
.contacts_section_content {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    align-items: center;
    gap: 50px
}


.contacts_section_content_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 861px;
    width: 100%;
}
.contacts_column_title {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF66;
    margin-bottom: 24px;
}
.contacts_item {
    list-style: none;
    padding-bottom: 28px;
}
.contacts_link {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}
.contacts_section_divider_container {
    display: flex;
    align-items: flex-start;
    gap: 62px;
}

.contacts_phone {
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 11px;
    display: flex;
}
.contacts_hours {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF66;
    margin-bottom: 27px;
   
}

.contacts_row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

@media (max-width: 1340px) {
  .contacts_section_content {
    max-width: unset!important;
    width: 95%!important;
  }
  
  .top_section_header div {
    max-width: unset!important;
    width: 95%!important;
  }
  .top_content_image_text_container {
    max-width: unset!important;
    width: 95%!important;
  }
  .top_content_image {
    height: 500px!important;
  }
  .services_section {
    padding: 115px 0 120px 0!important;
  }
  .services_section_content {
    max-width: unset!important;
    width: 95%!important;
  }
  .services_section_stat {
    max-width: unset!important;
  }
  .services_section_stat_title {
    line-height: unset!important;
    margin-bottom: 6px;
  }
}
@media (min-width: 1340px) and (max-width: 1440px) {
    .services_section {
        padding: 115px 100px 120px 100px!important;
    }
}

@media (max-width: 1200px) {
  .top_section {
    margin-bottom: 80px!important;
  }
  .about_section {
    margin-bottom: 80px!important;
  }


  
}

@media (max-width: 1340px) {
    .products_section_stats {
        gap: 0px 70px!important;
    }
}

@media (min-width: 1050px) and (max-width: 1200px) {
    .products_section_stats {
        grid-template-columns: repeat(3, minmax(0, 1fr))!important;
        gap: 30px 70px!important;
    }
}

@media  (max-width: 1050px) {
    .products_section_stats {
        grid-template-columns: repeat(2, minmax(0, 1fr))!important;
        gap: 30px 70px!important;
    }
    .products_section_title {
        font-size: 38px!important;
    }
    .products_section_stat_value {
        font-size: 38px!important;
    }
    .products_section_stat_value {
        line-height: 68px!important;
    }

}

@media (max-width: 1190px) {
    .services_section_stats {
        align-items: center!important;
    }
 
    .about_section2_content {
        max-width: unset!important;
        width: 95%!important;
    }
}


@media (max-width: 990px) {
   .services_section_stat_image {
        width: 135px!important;
        height: 127px!important;
   }
   .services_section_stat_title {
    font-size: 22px!important;
   }
   .services_section_stat_description {
     font-size: 12px!important;
   }
   .services_section {
    padding: 90px 0 90px 0!important;
   }

}

@media (min-width: 1150px) and (max-width: 1340px) {
   .contacts_section_content_item {
        max-width: 700px!important;
   }
}

@media (min-width: 1000px) and (max-width: 1150px) {
    .contacts_section_content_item {
         max-width: 600px!important;
    }
 }

 @media (min-width: 900px) and (max-width: 1022px) {
  
    .contacts_section_divider_container {
        gap: 40px!important
    }
 }


@media (min-width: 900px) and (max-width: 1000px) {
    .contacts_section_content_item {
         max-width: 550px!important;
    }
    .contacts_section_content {
        gap: 30px!important;
    }
    .contacts_phone {
        font-size: 20px!important;
    }
    .contacts_row {
        font-size: 13px!important;
    }
 }


@media (min-width: 825px) and (max-width: 900px) {
    .contacts_section_content_item {
         max-width: 500px!important;
    }
    .contacts_section_content {
        gap: 20px!important;
    }
    .contacts_phone {
        font-size: 20px!important;
    }
    .contacts_row {
        font-size: 13px!important;
    }
    .contacts_section_divider_container {
        gap: 30px!important
    }
 }

 @media  (max-width: 825px) {
    .contacts_section_content_item {
         max-width: 450px!important;
    }
    .contacts_section_content {
        gap: 20px!important;
    }
    .contacts_phone {
        font-size: 20px!important;
    }
    .contacts_row {
        font-size: 13px!important;
    }
    .contacts_section_divider_container {
        gap: 20px!important
    }
 }


 @media (max-width: 1050px) {
    .products_section_stat {
        min-height: unset!important;
    }
 }