* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    width: 100%;

}
.footer_content {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_content_left {
    display: flex;
    align-items: center;

}

.footer_content_logo {
    width: 104px;
    height: 30px;
}
.footer_content_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_content_text {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6124E1;
}

.footer_content_line {
    /* padding-left: 45px; */
    padding-right: 20px;
}

.footer_content_link {
    display: flex;
    cursor: pointer;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #21212ACC;
    text-decoration: none;
    border-bottom: 1px solid #6124E14D;
    padding-bottom: 6px;
}

@media (max-width: 1340px) {
    .footer_content {
        max-width: unset!important;
        width: 95%!important;
    }
}

@media (max-width: 768px) {
    .footer_content_line {
        /* padding-left: 45px; */
        padding-right: 8px!important;
    }
    .header_logo {
        max-width: 140px!important;
    }
}

@media (max-width: 530px) {
    .footer .header_logo {
        margin-bottom: 10px;
    }
    .footer_content {
        flex-direction: column;
    }
    .footer_content_left {
        flex-direction: column;
    }
    .footer_content {
        align-items: center;
    }
    .footer_content_line {
        display: none;
    }
    .footer_content_text {
        margin-bottom: 10px;
    }
}