* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
}
.header_wrapper {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 666px;
    width: 100%;
}
.header_nav {
    width: 100%;
    max-width: 495px;
}
.header_nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_nav_item {
    list-style: none;
    height: 82px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_nav_link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgba(33, 33, 42, 1);

}
.header_nav_link.active {
    background: rgba(245, 245, 245, 1);

}
.header_nav_link:hover {
    background: rgba(245, 245, 245, 1);

}
.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    height: 30px;
    width: 100%;
    max-width: 171px;
    outline: none;
}
.language-button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

}
.language-button span {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #212529;
    margin-left: 6px;

}


@media (max-width: 1340px) {
    .header_wrapper {
        max-width: unset!important;
        width: 95%!important;
    }
}