* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*top*/
.top_section2 {
    width: 100%;
}
.top_section2_slider {
    width: 100%;
}

.top_swiper {
    width: 100%;
    height: 480px;
}

.top_swiper .swiper-slide {
    height: 100%;
}

.top_section_header {
    width: 100%;
    height: 54px;
    background-color: #0e0d2b;
    padding: 18px 0;
}

.top_section_header div 
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1311px;
    margin: 0 auto;
    gap: 8px;

}
.top_section_header_text {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
}
.top_content_image2 {
    width: 100%;
    height: 480px;
    position: relative;

}
/* .top_content_image2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
} */

.top_content_image2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top_content_image_text_container2 {
    width: 100%;
    max-width: 1320px;
    margin: auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}
.top_content_image_text2 {
    max-width: 520px;
    width: 100%;
    position: relative;
}
.top_content_image_text_icon1 {
    width: 63px;
    height: 50px;
}

.top_content_image_text_title2 {
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    line-height: 72px;  
    font-weight: 600;
    color: #FFFFFF;
    /* max-width: 390px;
    width: 100%; */
    margin: 0 auto;
    margin-bottom: 30px;
}

.top_content_image_text_subtitle2 {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.top_swiper .swiper-pagination-bullets {
    bottom: 60px!important;
}

.top_swiper .swiper-pagination-bullet {
    width: 74px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 0!important;
}

.top_swiper .swiper-pagination-bullet-active {
    background-color: #6124E1!important;
}

.top_content_image_text_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #FFFFFF;
    width: 135px;
    height: 63px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #6124E1;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
}

.white_block {
    width: 100%;
    height: 0px;
    background-color: #FFFFFF;
}

/*services_section2*/
.services_section2 {
    width: 100%;
    background-color: #F6F6F6;
    padding-bottom: 58px;

}
.services_section2_content {
    width: 100%;
    max-width: 1056px;
    margin: 0 auto;

}

.services_section2_stats {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-bottom: 28px;
}

.services_section2_stat {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 15px;
}

.services_section2_stat_image {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 14px;
}

.services_section2_stat_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services_section2_stat_content {
    width: 100%;
}
.services_section2_stat_title {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #21212A;
    margin-bottom: 10px;
    text-align: center;
}
.services_section2_stat_description {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #21212A80;
    line-height: 22px;
    margin-bottom: 15px;
}
.services_section2_stat_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    color: #21212ACC;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: unset;

}
.services_section2_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #21212ACC;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #2CCF8D4D;
    max-width: 221px;
    width: 100%;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    padding-bottom: 3px;
}
/*products_section*/

.products_section {
    width: 100%;
    background-color: #0e0d2b;
    padding: 59px 35px;
    margin-bottom: 70px;
}
.products_section_content {
    width: 100%;
}
.products_section_title 
{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 41px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.products_section_stats {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0px 106px;
}

.products_section_stat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 34px;
    min-height: 217px;
}
.products_section_stat_content {
    display: flex;
    align-items: flex-end;
    gap: 17px;
}
.products_section_stat_value {
    font-family: 'Inter', sans-serif;
    font-size: 41px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 78px;
}

.products_section_stat_label {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
}
.products_section_stat_description {
    font-family: 'Inter', sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 22.5px;
}

/*services_section3*/
.services_section3 {
    width: 100%;

}
.services_section3_content {
    width: 100%;
}
.services_section3_stats {
    width: 100%;
    
}

  

.services_section3_stat {
   width: 100%;
    margin-bottom: 63px;
    border-bottom: 10px solid #F6F6F6;
    
}
.services_section3_stat:last-child {
    border-bottom: none;
}
.services_section3_stat_content_item {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services_section3_stat_content_item_reversed {
    flex-direction: row-reverse;
}
.services_section3_stat_image {
    max-width: 600px;
    height: 600px;
    flex: 1;

}
.services_section3_stat_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services_section3_stat_content {
   max-width: 531px;
   width: 100%;
}
.services_section3_stat_title {
    font-family: 'Inter', sans-serif;
    font-size: 29px;
    font-weight: 600;
    color: #21212A;
    margin-bottom: 24px;
}
.services_section3_stat_description {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #21212A;
    line-height: 28px;
    margin-bottom: 24px;
}

.services_section3_stat_button {
    width: 174px;
    height: 65px;
    border: 1px solid #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: #21212ACC;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    background-color: unset;
}
/*contacts_section*/

.contacts_section {
    width: 100%;
     background: #0e0d2b;
}
.contacts_section_content {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    align-items: center;
    gap: 50px
}


.contacts_section_content_item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 861px;
    width: 100%;
}
.contacts_column_title {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF66;
    margin-bottom: 24px;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;

}
.contacts_column_title2 {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF66;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;

}
.contacts_item {
    list-style: none;
    padding-bottom: 28px;
}
.contacts_link {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}
.contacts_section_divider_container {
    display: flex;
    align-items: flex-start;
    gap: 62px;
}

.contacts_phone {
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 11px;
    display: flex;
}
.contacts_hours {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF66;
    margin-bottom: 27px;
   
}

.contacts_row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

@media (max-width: 1340px) {
  .contacts_section_content {
    max-width: unset!important;
    width: 95%!important;
  }
  .services_section3_stat_content_item {
    max-width: unset!important;
    width: 95%!important;
  }
  
  .top_section_header div {
    max-width: unset!important;
    width: 95%!important;
  }
  .top_content_image_text_container {
    max-width: unset!important;
    width: 95%!important;
  }
  .top_content_image {
    height: 500px!important;
  }
  .services_section {
    padding: 115px 0 120px 0!important;
  }
  .services_section_content {
    max-width: unset!important;
    width: 95%!important;
  }
  .services_section_stat {
    max-width: unset!important;
  }
  .services_section_stat_title {
    line-height: unset!important;
    margin-bottom: 6px;
  }
}
@media (min-width: 1340px) and (max-width: 1440px) {
    .services_section {
        padding: 115px 100px 120px 100px!important;
    }
}

@media (max-width: 1200px) {
  .top_section {
    margin-bottom: 80px!important;
  }
  .about_section {
    margin-bottom: 80px!important;
  }


  
}

@media (max-width: 1340px) {
    .products_section_stats {
        gap: 0px 70px!important;
    }
    .top_content_image_text_container2 {
        max-width: unset!important;
        width: 95%!important;
    }
}

@media (min-width: 1050px) and (max-width: 1200px) {
    .products_section_stats {
        grid-template-columns: repeat(3, minmax(0, 1fr))!important;
        gap: 30px 70px!important;
    }
}

@media  (max-width: 1050px) {
    .products_section_stats {
        grid-template-columns: repeat(2, minmax(0, 1fr))!important;
        gap: 30px 70px!important;
    }
    .products_section_title {
        font-size: 38px!important;
    }
    .products_section_stat_value {
        font-size: 38px!important;
    }
    .products_section_stat_value {
        line-height: 68px!important;
    }

}

@media (max-width: 1190px) {
    .services_section_stats {
        align-items: center!important;
    }
 
    .about_section2_content {
        max-width: unset!important;
        width: 95%!important;
    }
}


@media (max-width: 990px) {
   .services_section_stat_image {
        width: 135px!important;
        height: 127px!important;
   }
   .services_section_stat_title {
    font-size: 22px!important;
   }
   .services_section_stat_description {
     font-size: 12px!important;
   }
   .services_section {
    padding: 90px 0 90px 0!important;
   }

}

@media (min-width: 1150px) and (max-width: 1340px) {
   .contacts_section_content_item {
        max-width: 700px!important;
   }
}

@media (min-width: 1000px) and (max-width: 1150px) {
    .contacts_section_content_item {
         max-width: 600px!important;
    }
 }

 @media (min-width: 900px) and (max-width: 1022px) {
  
    .contacts_section_divider_container {
        gap: 40px!important
    }
 }


@media (min-width: 900px) and (max-width: 1000px) {
    .contacts_section_content_item {
         max-width: 550px!important;
    }
    .contacts_section_content {
        gap: 30px!important;
    }
    .contacts_phone {
        font-size: 20px!important;
    }
    .contacts_row {
        font-size: 13px!important;
    }
 }


@media (min-width: 825px) and (max-width: 900px) {
    .contacts_section_content_item {
         max-width: 500px!important;
    }
    .contacts_section_content {
        gap: 20px!important;
    }
    .contacts_phone {
        font-size: 20px!important;
    }
    .contacts_row {
        font-size: 13px!important;
    }
    .contacts_section_divider_container {
        gap: 30px!important
    }
 }

 @media  (max-width: 825px) {
    .contacts_section_content_item {
         max-width: 450px!important;
    }
    .contacts_section_content {
        gap: 20px!important;
    }
    .contacts_phone {
        font-size: 20px!important;
    }
    .contacts_row {
        font-size: 13px!important;
    }
    .contacts_section_divider_container {
        gap: 20px!important
    }
 }


 @media (max-width: 1050px) {
    .products_section_stat {
        min-height: unset!important;
    }
 }

 @media (max-width: 910px) {
    .services_section2_stat_title {
        font-size: 16px!important;
    }
    .services_section2_stat_description {
        font-size: 12px!important;
    }
   
 }

 @media (min-width: 1150px) and (max-width: 1240px) {
   .services_section3_stat_image {
         max-width: 500px!important;
         height: 500px!important;
   }
 }

 @media (min-width: 1080px) and (max-width: 1150px) {
    .services_section3_stat_image {
          max-width: 450px!important;
          height: 450px!important;
    }
    .services_section3_stat_content {
        max-width: 500px!important;
    }
  }

  @media (min-width: 995px) and (max-width: 1080px) {
    .services_section3_stat_image {
          max-width: 430px!important;
          height: 430px!important;
    }
    .services_section3_stat_content {
        max-width: 480px!important;
    }
  }

  @media  (min-width: 928px) and (max-width: 995px) {
    .services_section3_stat_image {
          max-width: 400px!important;
          height: 400px!important;
    }
    .services_section3_stat_content {
        max-width: 450px!important;
    }
  }

  @media (min-width: 849px) and (max-width: 928px) {
    .services_section3_stat_image {
          max-width: 370px!important;
          height: 370px!important;
    }
    .services_section3_stat_content {
        max-width: 400px!important;
    }
  }
  @media (min-width: 795px) and (max-width: 849px) {
    .services_section3_stat_image {
          max-width: 350px!important;
          height: 350px!important;
    }
    .services_section3_stat_content {
        max-width: 370px!important;
    }
    .services_section3_stat_title {
        font-size: 26px!important;
        margin-bottom: 18px!important;
    }
    .services_section3_stat_description {
        font-size: 15px!important;
        margin-bottom: 18px!important;
    }
    .services_section3_stat_content_item {
        padding-bottom: 20px;
    }
  }

  @media (max-width: 795px) {
    .services_section3_stat_image {
          max-width: 330px!important;
          height: 330px!important;
    }
    .services_section3_stat_content {
        max-width: 350px!important;
    }
    .services_section3_stat_title {
        font-size: 25px!important;
        margin-bottom: 18px!important;
    }
    .services_section3_stat_description {
        font-size: 14px!important;
        margin-bottom: 18px!important;
    }
    .services_section3_stat_content_item {
        padding-bottom: 20px;
    }
  }


  @media (min-width: 480px) and (max-width: 768px) {
    .services_section2_stats {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr))!important;
        margin-bottom: 28px;
    }
    .services_section2_stat {
        padding: 20px 15px!important;
    }
  }

  @media  (max-width: 480px) {
    .services_section2_stats {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr))!important;
        margin-bottom: 28px;
    }
    .services_section2_stat {
        padding: 25px 15px!important;
    }
    .services_section2_stat_description {
        text-align: center!important;
    }
    .services_section3_stat_title {
        font-size: 22px !important;
        margin-bottom: 13px !important;
    }
    .services_section3_stat_description {
        font-size: 13px !important;
        margin-bottom: 18px !important;
    }

    .services_section3_stat_button {
        width: 170px!important;
        height: 50px!important;
    }
    .top_content_image_text_button {
        height: 50px!important;
    }

  }


  @media (max-width: 580px) {
   .products_section_stats {
    grid-template-columns: repeat(1, minmax(0, 1fr))!important;
    gap: 40px 0!important;
   }
   .products_section {
    padding: 59px 20px!important;
    margin-bottom: 70px;
}

.products_section_title {
    font-size: 34px!important;
}
.products_section_stat_value {
    font-size: 36px !important;
    line-height: 68px !important;
}
}

@media (max-width: 728px) {
    .services_section3_stat_content_item  {
        flex-direction: column;
    }
    .services_section3_stat_content {
        max-width: unset!important;
    }
    .services_section3_stat_image {
        max-width: unset!important;
        height: unset!important;
    }

}

@media (min-width: 725px) and (max-width: 762px) {
    .contacts_section_content_item {
        max-width: 425px !important;
    }
    .contacts_section_divider_container {
        gap: 10px !important;
    }
}

@media (max-width: 725px) {
    .contacts_section_content {
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts_section_content_item {
        max-width: unset !important;
    }
    .contacts_section_divider_container {
        gap: 40px !important;
    }
    .contacts_section_content {
        padding: 40px 0!important;
    }
}

@media (max-width: 390px) {
    .contacts_section_content_item {
        flex-direction: column;
    }
    .contacts_column {
        width: 100%;
        margin-bottom: 25px;
    }
    .contacts_section_divider {
        display: none!important;
    }
}